.footer {
  border-top: 1px solid var(--line);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-block: 25px;
  color: var(--muted);
  font: 10px/1.6 var(--mono);
}
@media (max-width: 700px) {
  .footer {
    flex-wrap: wrap;
    font-size: 9px;
    gap: 13px;
  }
  .footer > span:nth-child(2) {
    display: none;
  }
  .footer > a {
    margin-left: auto;
  }
}
